<!DOCTYPE html>
<html data-ng-app>
<head>
  <title>Onelist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= angularjs_include_tag :google %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<input type='text' data-ng-model='test' />
{{ test }}
<%= yield %>

</body>
</html>
