<!DOCTYPE html>
<html data-ng-app='oneListApp'>
<head>
  <title>Onelist</title>
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= angularjs_include_tag :google %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>

  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
